html {
	background: #000000;
}

figure, figure > * {
	text-align: center;
}

a:link, a:visited {
	color: #dddddd;
}

h1, p, figure, address {
	background: #0000cc;
	color: #ffffff;
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: .5em;
	border-image: url("/border.png") 4 4 4 5 stretch;
	font-family: monospace;
}

h1 {
	width: 10em;
	text-align: center;
}
